body {
    background-color: bisque;
    color: black;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;

    button {
        background-color: azure;
        color: black;
        font-size: large;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-style: italic;
        padding: 10px;
        border-radius: 5px;
    }

    button:hover {
        background-color: black;
        color: white;
        text-decoration: underline;

    }

}

